jaxb/org/iit/xml/practice4/sema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="phone-number">
        <complexType>
            <sequence>
                <element name="number" type="string"/>
            </sequence>
            <attribute name="type" type="string"/>
        </complexType>
    </element>
</schema>